{% if displayoptions.showtitle is defined %}	
	{% set showtitle 		= displayoptions.showtitle %}
{% else %}
	{% set showtitle 		= true %}
{% endif %}
{% if displayoptions.titletag is defined %}	
	{% set titletag 		= displayoptions.titletag %}
{% else %}
	{% set titletag 		= 'h1' %}
{% endif %}

{% if displayoptions.showmorelink is defined %}	
	{% set showmorelink 		= displayoptions.showmorelink %}
{% else %}
	{% set showmorelink 		= false %}
{% endif %}

{% if displayoptions.enclosingtag is defined %}	
	{% set enclosingtag 		= displayoptions.enclosingtag %}
{% else %}
	{% set enclosingtag 		= 'div' %}
{% endif %}

{% for listnode in nodes %}
<{{enclosingtag}} id="{{listnode.machinename}}">

		{% if showtitle and listnode.title %}
			<{{ titletag }}>{{ listnode.title }}</{{ titletag }}>
		{% endif %}
		{% if listnode.targetentity is defined and listnode.targetentity  %}
			<p>
			{# set controller = listnode.targetentity ~ ":renderPartial" #}
			{% set controller = listnode.targetcontroller %}
			{% set controllervars = listnode.targetparams|unserialize %}
			{% set displayoptions = {'showtitle':false} %}
			<!-- Controller: {{ controller }} / Vars: {{controllervars }} -->
				{% include "ACInst3Bundle:Node:displayPartial.html.twig" %}
		{% endif %}

        {% if showmorelink %}
		<p>
			<a href="{{ path('node_show', { 'mname': listnode.machinename }) }}">More . . .</a>
		</p>
		{% endif %}
</{{enclosingtag}}>
{% endfor %}
